<extend name="default:base:base" />
<block name="page_container_header">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <ul class="breadcrumb">
                <li>
                    <i class="icon-user"></i>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="#">系统用户</a></li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
</block>
<block name="page_container_dashboard">
    <div class="portlet box light-grey">
        <div class="portlet-title">
            <div class="caption"><i class="icon-user"></i>系统用户</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">用户列表</a></li>
                    <li><a href="#tab_1_2" data-toggle="tab">添加用户</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="users_table">
                                <thead>
                                    <tr>
                                        <th style="width:8px;" class="hidden">
                                            <input type="checkbox" class="hidden group-checkable" data-set="#users_table .checkboxes" />
                                        </th>
                                        <th class="hidden-480">序号</th>
                                        <th class="hidden-480">用户名</th>
                                        <th class="hidden-480">昵称</th>
                                        <th class="hidden-480">状态</th>
                                        <th >操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="userList" item="user">
                                        <tr class="odd gradeX">
                                            <td class="hidden"><input type="checkbox" class="checkboxes" value="1" ></td>
                                            <td >{$user.id}</td>
                                            <td class="hidden-480">{$user.uname}</td>
                                            <td class="hidden-480">{$user.nickname|default='无'}</td>
                                            <td class="hidden-480">
                                                <if condition="$user.blocked gt 0">
                                                    <span class="label label-inverse">禁用</span>
                                                    <else/>
                                                    <span class="label label-success">启用</span>
                                                </if>
                                            </td>
                                            <td>
                                                <button type="button" class="btn green">修改</button>
                                                <if condition="$user.id gt 1">
                                                    <button type="button" class="btn red">删除</button>
                                                </if>
                                            </td>
                                        </tr>
                                    </foreach>
                                </tbody>
                            </table>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                    <div class="tab-pane" id="tab_1_2">
                        <div class="portlet-body form-horizontal">
                            <!--<form action="#" class="form-horizontal">-->
                                <div class="control-group">
                                    <label class="control-label" for="uname">用户名:</label>
                                    <div class="controls">
                                        <input id="uname" type="text" placeholder="用户名..." />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="userpwd">密码：</label>
                                    <div class="controls">
                                        <input id="userpwd" type="password" placeholder="密码...">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="userrepwd">确认密码：</label>
                                    <div class="controls">
                                        <input id="userrepwd" type="password" placeholder="确认密码...">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="group">组:</label>
                                    <div class="controls">
                                        <select id="group" tabindex="1">
                                            <option value="">选择组...</option>
                                            <foreach name='groups' item='group'>
                                                <option value="{$group.id}">{$group.title}</option>
                                            </foreach>
                                        </select>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <button class="btn green">添加</button>
                                    </div>
                                </div>
                            <!--</form>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
</block>
